@headerHeight: 64px;
@windowHeight: 400px;
@borderRadius: 12px;

.leaflet-popup{
  padding: 0;
  .leaflet-popup-content-wrapper{
    padding: 0;
    height: 300px;
  }
}

.leaflet-popup-content{
  width: 550px!important;

  .svg-container{
    svg{
      width: auto;
      display: block;
      margin-left: -10px;
    }
  }

  .count{
    clear: both;
    color: #ca3d3f;
    display: block;
    font-size: 2em;
  }

  .chart-toolbar{
    &.chart-btns{
      right: -10px;
      top: 3px;
      .btn-default{
        outline: none;
      }
    }
  }

}

.tender-locations-popup{
  header{
    background: #ca3d3f;
    margin-top: -14px;
    margin-left: -20px;
    margin-right: -20px;
    border-top-right-radius: @borderRadius;
    border-top-left-radius: @borderRadius;
    padding: 7px 15px 7px 15px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    height: @headerHeight - 31;
  }

  a.leaflet-popup-close-button{
    color: #ffffff;
    top: 0.3em;
    right: 10px;
    &:hover{
      color: #000000;
    }
  }

  .tabs-bar{
    background: #272727;
    font-size: 1em;
    margin-left: -5px;
    /*height: @windowHeight - @headerHeight + 14px;//magic number, leaflet's borders n stuff*/
    height: @windowHeight - @headerHeight - 69px;
    border-bottom-left-radius: @borderRadius;
    div{
      padding: 10px 10px 10px 15px;
      margin-left: -15px;
      margin-right: -15px;
      border-right: 3px solid transparent;
      &:focus{
        outline: none;
      }
      &.active{
        background: #0f0f0f;
        border-right-color: #ca3d3f;
        a{
          color: #d4d4d4;
        }
      }
    }
    a{
      color: #848c98;
      text-decoration: none;
    }
  }

  .map-chart.overview{
    .legendsymbols{
      display: none;
    }

    .legendtext{
      text-transform: uppercase;
    }
  }
}


